body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: rgb(192, 192, 192);
}

header {
    background-color: black;
    padding: 0px;
    border: 0px;
    margin: 0px;
    opacity: 100%;
}

nav {
    text-align: center;
    border: 0px;
    margin: 0px;
}

div {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 80px;
    text-align: left;
    background-color: white;
    padding: 60px;
}

a,
a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: black;
}


h1,
h2,
h3,
h4 {
    padding: 5px;
}
