body {
    text-align: center;
    border: 0px;
    margin: 0px;
}

 a,
 a:visited {
    padding: 30px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: darkgray;
}